@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-weight: 300;
  line-height: 1.4;
  font-family: "roboto", sans-serif;
}
.container {
  background-image: url(../image/developer2.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.text_container {
  color:#fff;
  font-size: 30px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 16px;
}
#first {
  font-size: 25px;
}
#second {
  font-size: 60px;
  font-weight: 400;
}
.black_box {
  width: 100%;
  background-color: black;
  min-height: 200px;
}
.second_container {
  color: white;
  font-size: 40px;
  font-weight: 400;
  padding-top: 60px;
  text-align: center;
  letter-spacing: 1.5;
}
.second_container h1 {
  font-weight: 400;
}
.second_container span {
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
}
.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 50px auto;
  max-width: 1100px;
  gap: 20px;
}
.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.4s ease-in-out;
}
.image_container img {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 10px;
}
.card_content {
  margin: 10px;
  margin-bottom: 5px;
}
.card_content h3 {
  margin-bottom: 5px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.04);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.5);
  transition: 0.4s ease-in-out;
}
.bottom_section {
  display: flex;
  color: white;
  margin: auto;
}
.contact {
  background-color: #515603;
  padding: 50px;
  margin: 10px;
}
.contact h2 {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 400;
}
.about {
  background-color: #722300;
  padding: 50px;
  margin: 10px;
}
.about h2 {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 400;
}
footer {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: auto 0;
  padding-top: 15px;
  font-size: 30px;
}

@media (max-width: 786px) {
  .container {
    min-height: 50vh;
  }
  .second {
    font-size: 32px;
  }
  .text_container {
    padding: 10px 0;
    text-align: center;
  }
  .black_box h1 {
    font-size: 32px;
  }
  .black_box h1 span {
    font-weight: 400;
    font-size: 32px;
  }
  .bottom_section {
    flex-direction: column;
  }
  h1 {
    font-size: 32px;
  }
  .about h2 .contact h2 {
    font-size: 32px;
  }
}
