* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.img1 {
  background-image: url(../image/parallex\ 1.avif);
  min-height: 100%;
}
.img2 {
  background-image: url(../image/img2.avif);
  min-height: 400px;
}
.img3 {
  background-image: url(../image/img3.avif);
  min-height: 400px;
}
.img4 {
    background-image: url(../image/parallex\ 4.avif);
    min-height: 100%;
}
.img1,
.img4,
.img2,
.img3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.ptext {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  letter-spacing: 6px;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}
.textbg {
  background-color: #313534;
  padding: 20px;
}
.section {
  padding: 50px 80px;
  text-align: center;
}
.section_first {
  color: black;
  background-color: whitesmoke;
}
.section_first h1 {
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}
.section_second {
  color: #ddd;
  background-color: #282e34;
}
.section_second h1 {
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}
