* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.box {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 3px 5px rgba(1, 1, 1, 0.1);
}
.top {
  display: flex;
  flex-direction: row;
}
.top span {
  align-self: flex-end;
  font-size: 22px;
  font-weight: bold;
  margin: 2px 10px;
}
.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 16px;
  margin: 5px;
}
input,
select,
textarea {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}

input:focus {
  outline-color: black;
}
.button {
  text-align: end;
  margin-top:40px;
}
.button button {
  padding: 7px;
  border-radius: 8px;
  background-color: red;
  color:white;
  font-size: 14px;
  font-weight: 600;
  border: transparent 2px solid;
  transition: 0.4s ease-in;
}
.button button:hover{
    color:black;
    background-color:gray;
    transition: 0.2s ease-out;
    cursor: pointer;
}
@media (max-width:460px) {
  .textarea_control{
    grid-column: 1 / span 1;
}
};
