@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
}

.logo_container img{
    margin-top: 0;
    height:100px;
    width:100px;
}
svg{
    height:30px;
    width:40px;
}
nav{
    box-shadow: 5px 5px 4px rgba(1,1,1,0.05);
    position: sticky;
    top:0;
    margin-bottom: 20px;
    background-color:white;
    padding: 5px;
    z-index: 50;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:100px;
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero_image img{
    border-radius: 50%;
    width:300px;
    height:300px;
    box-shadow:5px 5px 4px rgba(1,1,1,0.5);
}
.tag{
    background-color: green;
    color:white;
    font-size:20px;
    align-self: flex-start;
    padding: 5px 7px;
}
.hero_content h1{
    font-size: 50px;
    line-height: 1.2;
    font-weight: 500;
}
.hero_content div p{
    color:black;
    font-weight: 400;
}
.explore_btn button{
    background-color: #ffc066;
    padding:10px 15px;
    border-style: none;
    color:white;
    font-weight: 500;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: black;
    opacity:0.8;
    transition: 0.2s ease-in-out;
}
.features {
    margin-top: 100px;
    display:flex;
    gap:10px;
    margin-bottom: 50px;
    justify-content: center;
}
.feature {
    display: flex;
    gap:10px;
    padding: 20px;
    transition: 0.3s ease-in-out;
}
.feature:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 7px 7px 7px rgba(1,1,1,0.1);
}
.feature img{
    width:100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}
.divider{
    border: 2px solid #ccc;
    margin:20px;
  
}
.menu{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin:50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}
.grid{
    display: grid;
    gap:10px;
    grid-template-areas:"i1 i1 i2 i3"
    "i1 i1 i2 i7"
    "i4 i5 i6 i7"
}
.item1{
    grid-area: i1;
}
.item1 img{
    height:600px;
    width:700px;
    background-size: contain;
}
.item2{
    grid-area: i2;   
}
.item2 img{
    height:600px;
    width:300px;
    background-size: contain;
}
.item3{
    grid-area: i3;
}
.item3 img{
    height:250px;
    width:300px;
    background-size: contain;
}
.item4{
    grid-area: i4;
}
.item4 img{
    height:250px;
    width:350px;
    background-size: contain;
}
.item5{
    grid-area: i5;
}
.item5 img{
    height:250px;
    width:350px;
    background-size: contain;
}
.item6{
    grid-area: i6;
}
.item6 img{
    height:250px;
    width:300px;
    background-size: contain;
}
.item7{
    grid-area: i7;
} 
.item7 img{
    height:600px;
    width:300px;
    background-size: contain;
}
.grid_image{
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    width:100%;
    height:100%;
}
.grid_image:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.03);
}

footer{
    background-color: #fff0db;
}
.footer_container{
    padding:30px;
    display: flex;
    
    justify-content: space-around;
}
.icon_container{
    display: flex;
}
.link_list ul{
    list-style: none;
}
.news_letter h3{
    margin-bottom: 10px;   
}
.link_list h3{
    margin-bottom:10px;
}
.news_letter input{
    padding:5px 40px;
    margin-bottom: 10px;
}


@media (max-width:786px){
    .hero{
        flex-direction: column;
    }
    .hero_content{
        padding-left: 17px;
        gap:10px;
    }
    .hero_content h1{
        font-size: 40px;
    }
    .features{
        flex-direction: column;
    }
    .grid{
        padding: 10px;
    }
    .footer_container{
        flex-direction: column;
    }
    
}
